/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
    margin-top: 30px;
}

/* ----------Hidden */
.hidden {
    display: none;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

#welcome-screen{
    background-color: #E6ECF0;
    background-image: url(/assets/images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
