/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
    margin-top: 40px;
}

/* ----------Hidden */
.hidden {
    display: none;
}

/* --------- Heading */

h1 {
    text-align: center;
    font-size: 3.5em;
    color: white;
}

hr {
    color: black;
    line-height: 5px;
}

#welcome-screen,
#quiz-screen {
    background-color: #909090;
    background-image: url(/assets/images/background.jpg);
    background-size: 70rem;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 90%;
    height: 85vh;
    max-height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* Quiz Container */
.quiz-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Question Styles */
.question h2 {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Greeting container */
.greeting-box {
    background-color: rgba(161, 154, 9, 0.6)
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Answers Container */
.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Answer Box Styles */
.answer {
    background-color: #0E0F13;
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 48%; /* Adjusted to fit two boxes in a row */
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer:hover {
    background-color: #221D11;
}

.letter {
    font-weight: bold;
    margin-bottom: 5px;
}
